/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #858585;
  color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul li a:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.sidebar ul li a.active {
  background-color: var(--primary-color);
  color: #fff;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h3 {
  margin-top: 0;
}
@media (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .dashboard,
  .container {
    display: flex;
    flex-direction: column;
  }

  .main_content {
    padding-top: 10px;
  }

  .sidebar {
    max-width: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 12px;
  }

  .sidebar h2 {
    font-size: 18px;
  }

  .sidebar ul li a {
    padding: 2px 10px;
  }

  .sidebar ul li {
    margin: 4px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }
}

.dashboard {
  gap: 0;
}

.config-active {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar h2 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
