@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #005d97;
  /* --primary-color: #005d9718; */
}

.main_content {
  margin-left: 250px;
  transition: 0.5s;
  background: #f6f7f8;
  min-height: 100svh;
  padding: 20px;
}

.side_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #e1e7eb75;
  z-index: 1000;
  overflow-y: auto;
  transition: 0.5s;
  padding: 10px;
  border-right: 1px solid #dadada;
}
.side_menu nav {
  margin-top: 40px;
}

.side_menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.side_menu .logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.side_menu .logo img {
  width: 30px;
  margin-right: 6px;
}

.side_menu .logo span {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
}

.side_menu nav ul a {
  margin-top: 6px;
  border-radius: 6px;
  padding: 2px 10px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  width: 100%;
  transition: 0.1s all ease;
  background-color: #cadde975;
  display: flex;
  align-items: center;
}

.side_menu nav ul a.active {
  background-color: var(--primary-color);
  color: #fff;
}

.side_menu nav ul a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.side_menu .fa-icon {
  font-size: 14px;
  margin-right: 6px;
}

.side_menu .nav_area {
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
  justify-content: space-between;
}

.dashboard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.balance {
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  width: 340px;
  padding: 12px;
  border-radius: 8px;
  flex-direction: column;
  margin-bottom: 20px;
}

.balance span {
  font-size: 32px;
  font-weight: bold;
}

.card-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background-color: #e6f2ff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:nth-child(2) {
  background-color: #f2f2f2;
}

.card-number {
  font-size: 18px;
  font-weight: bold;
}

.last-transactions,
.credit-limit {
  margin-bottom: 20px;
}

.transaction-list,
.spending-chart,
.credit-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.spending-chart {
  margin-bottom: 20px;
}

.info-last {
  margin-top: 40px;
  text-align: center;
}
